html, body {
    margin: 0;
    padding: 0;
    /* display: flex; */
    /* justify-content: center; */
    font-family: 'Roboto', sans-serif;
}

button {
    min-height: 75px;
    min-width: 75px;
    /* min-width: 0; */
    border-radius: 50px;
    font-size: 30px;
    border: 2px solid orange;
}

#equals {
    border: 2px solid teal;
    color: teal;
}

#clear {
    border: 2px solid green;
    color: green;
}

.operators {
    display: flex;
    /* grid-template-columns: repeat(3, 70px); */
    /* grid-template-rows: repeat(3, 70px); */
    /* background: yellow; */
    justify-content: center;
    /* width: */
    /* align-content: center; */
    margin: 0 auto;
    width: 300px;
    margin-bottom: 20px;
    flex-wrap: wrap;
}

.numbers {
    display: flex;
    flex-wrap: wrap;
    /* flex-grow: 1; */
    /* background: purple; */
    /* height: 300px; */
    justify-content: center;
    align-content: center;
    width: 300px;
    /* flex: auto; */
    margin: 0 auto;
    /* padding: 10px; */
} 

.operators-child {
    margin: 10px;
    color: orange;
}

.numbers-child {
    display: flex;
    justify-content: center;
    /* width: 33%; */
    /* flex-grow: 1; */
    margin: 10px;
}

/* #one {
    flex-grow: 1;
}

#two {
    flex-grow: 1;
}

#three {
    flex-grow: 1;
}

#four {
    flex-grow: 1;
}

#five {
    flex-grow: 1;
}

#six {
    flex-grow: 1;
}

#seven {
    flex-grow: 1;
}

#eight {
    flex-grow: 1;
}

#nine {
    flex-grow: 1;
} */

#zero {
    /* flex: 1 0 25%; */
    /* height: 200px; */
    display: flex;
    flex-grow: 3;
    /* width: 500px; */
    /* background: orange; */
    justify-content: center;
    border-radius: 100px;
}

#screen {
    background: lightblue;
    display: flex;
    justify-content: center;
    align-content: center;
    /* font-size: 40px; */
    /* text-align: left; */
    width: 300px;
    /* height: 50px; */
    margin: 0 auto;
    padding: 10px 0;
    /* margin-top: 20px; */
    /* background:grey; */
}

.num {
    color: orange;
}

.num:hover {
    background: orange;
    color: white;
}

.operators-child:hover {
    background: orange;
    color: white
}

#equals:hover {
    background: teal;
    color: white;
}

#clear:hover {
    background: green;
    color: white;
}

#backspace {
    border: 2px solid teal;
    color: teal;
}

#backspace:hover {
    background: teal;
    color: white;
}